
h2:hover {
  font-size: 0;
  line-height: 0; 
}

h2:hover:before {
  content: attr(data-hover);
  font-size:30px;
  line-height: 30px;
  margin-bottom: -10px;
}
.abt{
		height: 700px;
		padding: 100px;
	}
#portrait{
	background-image: url(1234.jpg);
	background-repeat: no-repeat;
	margin-top: 60px;
	margin-left: 300px;
	height: 1000px;
	width: 1000px;
	position: relative;
}
.welcome{
	position: relative;
	top: 25px;
	right: 350px;
	text-transform: uppercase;

}
.abt{
	text-align: justify;
/*	padding: 75px;*/
	margin-top: 75px;
	height:400px;
	position: relative;
    display: block;
    top:50px;
}
.skls{
	text-align: justify;
	margin-top: 75px;
	height:900px;
	position: relative;
    display: block;
    top:50px;
}
.edc{
		text-align: justify;
	margin-top: 75px;
	height:900px;
	position: relative;
    display: block;
    top:50px;
}
.prjct{
	margin-top: 75px;
	height:1000px;
	position: relative;
    display: block;
    top:50px;
}
.cntct{
	margin-top: 75px;
	height:700px;
	position: relative;
    display: block;
    top:20px;
}
.card-text.p{
	color: white;
}
.nav-item a{
	font-size: 16px;
}
.ftr{
	top:140px;
	position: relative;
    display: block;
    text-align: bottom-right;
    color:#343a40;
    height: 40px;
    width: 100%;
    text-decoration-color: white;
	/*height: 200px;
	width: 100%;*/
	background-color: #343a40;
}
/*contact*/
.contact-form{
    background: #fff;
    margin-top: 10%;
    margin-bottom: 5%;
    width: 70%;
}
.contact-form .form-control{
    border-radius:1rem;
}
.contact-image{
    text-align: center;
}
.contact-image img{
    border-radius: 6rem;
    width: 11%;
    margin-top: -3%;
    transform: rotate(29deg);
}
.contact-form form{
    padding: 14%;
}
.contact-form form .row{
    margin-bottom: -7%;
}
.contact-form h3{
    margin-bottom: 8%;
    margin-top: -10%;
    text-align: center;
    color: #0062cc;
}
.contact-form .btnContact {
    width: 50%;
    border: none;
    border-radius: 1rem;
    padding: 1.5%;
    background: #dc3545;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}
.btnContactSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    color: #fff;
    background-color: #0062cc;
    border: none;
    cursor: pointer;
}
/*social bar*/
.icon-bar {
  position: fixed;
  top: 30%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

.icon-bar a:hover {
  background-color: #000;
}

.github {
  background: #228B22;
  color: white;
}

.twitter {
  background: #55ACEE;
  color: white;
}

.google {
  background: #dd4b39;
  color: white;
}
.resume {
  background: slategray;
  color: white;
}

.linkedin {
  background: #007bb5;
  color: white;
}

.youtube {
  background: #bb0000;
  color: white;
}

.content {
  margin-left: 75px;
  font-size: 30px;
}